body {background-color: black; color: blue; font-family: Arial, Helvetica, sans-serif;}
html {background-color: black;}
h1 {color: Black; text-align: center; font-size: 25pt; font-family: Arial, Helvetica, sans-serif;}
header {height: 100px; background-color: black; color: blue;}
nav {height: 25px; color: blue;}
main {height: 100%; background-color: black; color: blue;}
article {height: 100%; background-color: Blue; width: 70%; float: left; color: black; border-radius: 8px; margin: 5px; padding: 5px; text-align: center;}
aside {height: 150px; background-color: blue; width: 25%; float: right; color: black; border-radius: 8px; margin: 5px; padding: 5px;}
footer {height: 200px; background-color: blue; color: black; font-size: 25px; text-align: center; width: 25%; float: right; border-radius: 8px; margin: 5px; padding: 5px;}
.pulse {animation: pulse 5s infinite;}
@keyframes pulse {0% {transform: scale(1);} 50% {transform: scale(1.2);} 100% {transform: scale(1);}}
.btn {display: inline-block; padding: 12px 24px; background: blue; color: black; text-decoration: none; border-radius:10px; font-weight: bold; transition: 0.5s ease;}
.btn:hover {background: cyan; color: grey; text-decoration: none; border-radius: 10px; font-weight: bold; transition: 0.5s ease;}
.bodytext {color: Black; font-size: 25pt; font-family: Arial, Helvetica, sans-serif; text-align: center;}
#shadow {box-shadow: 5px 5px 10px 5px rgba(128, 0, 128, 0.5);}
nav a:link {border-radius: 4px 4px 0px 0px; color: black; text-decoration: none; background-color: blue; padding-right: 5px; transition: 0.5s ease; padding-left: 5px;}
nav a:visited {border-radius: 4px 4px 0px 0px; color: black; text-decoration: none; background-color: blue; padding-right: 5px; transition: 0.5s ease; padding-left: 5px;}
nav a:active {border-radius: 4px 4px 0px 0px; color: black; text-decoration: none; background-color: blue; padding-right: 5px; transition: 0.5s ease; padding-left: 5px;}
nav a:hover {border-radius: 4px 4px 0px 0px; color: grey; text-decoration: none; background-color: cyan; padding-right: 5px; transition: 0.5s ease; padding-left: 5px;}